<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glad.datelibrary">

    <application>
        <activity android:name="com.glad.datelibrary.DateCalculationActivity" />
        <activity android:name="com.glad.datelibrary.CountdownActivity"></activity>
    </application>

</manifest>